html {
  background-color: rgba(222, 172, 205, 0.838);
  position: absolute;
  z-index: 1;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap-reverse;
  column-gap: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: rgb(238, 223, 217);
  padding: 10px;
  padding-left: 0px;
  position: sticky;
  top: 0px;
  z-index: 3;
  font-style: italic;
  font-weight: 550;
  border: 1px;
  border-style: inset;
}

.navigation ul {
  /* list-style-type: none;
  display: flex; */
  gap: 10px;
  flex-direction: row-reverse;
  font-size: 24px;
}

.navigation li {
  padding: 5px;
  margin-left: 10px;
}
/* @media screen and (max-width: 1200px) {
  .navigation {
    display: flex;
  }
  .border-red {
    border: 1px dotted blue;
    width: 100%;
  }
} */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  margin-top: 5px;
  /* gap: 10px; */
}

.flex-item {
  gap: 20px 10px;
}

li a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.img-1 {
  height: 300px;
  width: 500px;
  left: 500px;
}
