body {
  background-image: url(imagini/background.avif);
  background-repeat: repeat; /* Opțional, setați repetarea imaginii (repeat, repeat-x, repeat-y, no-repeat) */
  /* background-attachment: fixed; Opțional, fixați imaginea pe pagină (fixed, scroll) */
  background-size: cover; /* Opțional, dimensionați imaginea pentru a acoperi întregul ecran */
  background-position: center center;
  margin: 10px;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap-reverse;
  column-gap: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: rgb(238, 223, 217);
  padding: 10px;
  padding-left: 0px;
  position: sticky;
  bottom: 5px;
  z-index: 3;
  font-style: italic;
  font-weight: 550;
  border: 1px;
  border-style: inset;
}

.navigation ul {
  gap: 10px;
  flex-direction: row-reverse;
  font-size: 24px;
}

.navigation li {
  padding: 5px;
  margin-left: 10px;
}

.navigation li a:hover {
  color: white;
  background-color: black;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: flex-start;
}

li a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(58, 58, 162);
}

table {
  border: 2px solid #ccc; /* Bordură gri de 2 pixeli */
  width: 500px; /* Lățime de 500 pixeli */
  margin: 20px auto; /* Spațiu de 20px în jurul tabelului, centrat automat */
  padding: 10px; /* Spațiu de 10px în jurul conținutului celulelor */
  background-color: #f9f9f9; /* Culoare de fundal #f9f9f9 */
}

th {
  font-weight: bold; /* Fontul titlurilor este mai gros */
  background-color: #e6e6e6; /* Culoare de fundal #e6e6e6 pentru titluri */
  text-align: center; /* Textul titlurilor este centrat */
  padding: 5px; /* Spațiu de 5px în jurul conținutului titlurilor */
}

td {
  border: 1px solid #ddd; /* Bordură gri de 1 pixel pentru celule */
  padding: 5px; /* Spațiu de 5px în jurul conținutului celulelor */
}

.different-table {
  border: 4px solid #ccc; /* Bordură gri de 2 pixeli */
  width: 400px; /* Lățime de 500 pixeli */
  margin: 20px auto; /* Spațiu de 20px în jurul tabelului, centrat automat */
  padding: 5px; /* Spațiu de 10px în jurul conținutului celulelor */
  background-color: #c07c7c; /* Culoare de fundal #f9f9f9 */
}

.different-table > th {
  font-weight: bold; /* Fontul titlurilor este mai gros */
  background-color: #a82424; /* Culoare de fundal #e6e6e6 pentru titluri */
  text-align: center; /* Textul titlurilor este centrat */
  padding: 5px; /* Spațiu de 5px în jurul conținutului titlurilor */
}

.different-table > td {
  border: 1px solid #ddd; /* Bordură gri de 1 pixel pentru celule */
  padding: 5px; /* Spațiu de 5px în jurul conținutului celulelor */
}

.html-image {
  height: 250;
  width: 400;
  margin: 10px 500px;
  display: flex;
}

.git-image {
  height: 250px;
  width: 500;
  margin: 5px 500px;
}
0 .another-image {
  height: 250;
  width: 400;
  margin: 8px 150px;
  display: flex;
}

.git-commands li {
  background-color: #c07c7c;
  margin-bottom: 10px;
  border: #0b0909 2px solid;
  font-style: italic;
  padding: 2px;
}

@media screen and (max-width: 1200px) {
  .navigation {
    display: flex;
  }
}
